{% extends "layout.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<form method='post' class='m-auto md:w-[400px]'>
  
    {% csrf_token %}
 
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class=' flex flex-col shadow-md bg-white  w-full border-[1px] rounded-lg p-2 md:p-8'>
        <h2 class='text-3xl text-center py-2'>Login</h2>
        <div class='pb-4'>
            <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 ">Username</label>
            {% render_field form.username name="username" id="id_username" class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" placeholder="John Doe" required="" %}
        </div>
        <div class='pb-4'>
            <label for="id_password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            {% render_field form.password name="password" id="id_password" class+="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5" placeholder="password" %}
        </div>
        <div>
     
       <div class='py-4 flex flex-col items-center justify-center'>
        <button class=' w-[220px] p-2 text-center text-white rounded border-1 hover:shadow-lg  bg-cyan-600'>Login</button>
        
        <p class='text-xs pt-2'>Dont have an account? <a href="{% url 'register' %}"><span class='text-cyan-600 font-bold'>Register</span></a></p>
       </div>
    </div>
</form>
{% endblock %}
