{% load static %} {% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% tailwind_css %}
    <title>{% block title %}Tweet{% endblock %}</title>
  </head>
  <body class="bg-slate-200">
    <nav class="flex p-2 shadow justify-between items-center">
     
      <a class='font-bold text-cyan-600' href="{% url 'tweet_list'%}"> Tweet Home </a>
       <div class='flex gap-4'>

        {% if  user.is_authenticated%}
        <form method="post" action="{% url 'logout'%}">
          {% csrf_token %}
          <button class='w-[100px] p-1 text-center text-white rounded border-1 hover:shadow-lg  bg-cyan-600' type="submit">Logout</button>
        </form>
        {% else %}
        <a class='w-[100px] p-1 text-center text-white rounded border-1 hover:shadow-lg  bg-cyan-600' href="{% url 'login' %}">Login</a>

        <a class='w-[100px] p-1  text-center rounded border-[1px] border-cyan-600 text-cyan-600 hover:bg-cyan-600 hover:text-white hover:shadow-lg' href="{% url 'register' %}">Register</a> 

        {% endif %}
       </div>
       
      </div>
    </nav>

    <div class="p-4">
    {% block content %} 
    
    {% endblock %}</div>
  </body>
</html>
